@model IEnumerable<eCommerceApp.Models.Category>
@{
    Layout = "_Layout";
}

<h1 class="mt-5">Index</h1>
<a asp-action="Create" class="btn btn-success btn-sm">Add Parent</a>
<a asp-action="CreateChild" class="btn btn-success btn-sm">Add Child</a>
<table class="table table-hover table-responsive-sm table-striped mt-2">
    <thead>
        <tr class="alert-dark">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Parent Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="small">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @if (item.ParentId == null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Parent.Name)
                    </td>
                }
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts
{
    <script type="text/javascript">
        $(() => {
            $("#accordion").accordion();
        })
    </script>
}