@model eCommerceApp.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <div class="container-fluid">

        <div class="row">

            <div class="card mb-3 shadow pt-2 pb-2" style="max-width: 540px; height: 250px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        @{
                            String img64 = Convert.ToBase64String(Model.Image);
                            String img64url = string.Format("data:Image/" + Model.Image + ";base64,{0}", img64);
                        }
                        <img src="@img64url" class="card-img-top" alt="...">
                    </div>
                    <div class="col-md-8 pt-2">
                        <div class="card-body">
                            <h4 class="card-title">@Html.DisplayFor(model => model.Name)</h4>
                            <h5 class="card-text">@Html.DisplayFor(model => model.Price)</h5>
                            <h5 class="card-text">@Html.DisplayFor(model => model.ExpireDate)</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>