@model IEnumerable<eCommerceApp.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-outline-primary btn-sm" asp-action="Create">Create New</a>
</p>
<table class="table table-responsive-sm table-hover table-bordered container-fluid ml-4">
    <thead>
        <tr class="bg-success">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpireDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @{
                        if (item.Image == null)
                        {
                            <img src="~/img/default.jpg" style="height: 40px; width: 30px;" />
                        }
                        else
                        {

                            String img64 = Convert.ToBase64String(item.Image);
                            String img64url = string.Format("data:Image/" + item.Image + ";base64,{0}", img64);
                            <img src="@img64url" style="height: 40px; width: 30px;" />
                        }
                    }
                </td>
                <td>
                    <a class="btn btn-success btn-sm" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a> |
                    <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-file-archive"></i></a> |
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>